<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.dao.ResultsDAO">
	<select id="selectList" resultType="JSONObject" parameterType="map">
		SELECT m.*,(SELECT u.username FROM _users u WHERE m.manager=u.id AND u.type=1) AS managerName 
		FROM _results m WHERE 1=1
			<if test="id != null">AND id = #{id}</if>
			<if test="course != null">AND m.course LIKE '%${course}%'</if>
			<if test="score != null and searchOper == 'gt'">AND m.score >= #{score}</if>
			<if test="score != null and searchOper == 'lt'"><![CDATA[ AND m.score <= #{score} ]]></if>
			<if test="registrationId != null">AND registrationId = #{registrationId}</if>
			<if test="manager != null">AND m.manager = #{manager}</if>
			<if test="createTime != null and searchOper == 'gt'">AND m.createTime >= #{createTime}</if>
			<if test="createTime != null and searchOper == 'lt'"><![CDATA[ AND m.createTime <= #{createTime} ]]></if>
	</select>
	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO _results(course,score,registrationId,createTime,manager) 
		VALUES(#{course},#{score},#{registrationId},NOW(),#{manager})
	</insert>
	
	<update id="update" parameterType="map">
		UPDATE _results SET id=id
		<if test="course != null">,course = #{course}</if>
		<if test="score != null">,score = #{score}</if>
		WHERE id = #{id}
	</update>
	<delete id="delete" parameterType="object">
		DELETE FROM _results WHERE id = #{id} 
	</delete>
	
	<select id="selectResults" resultType="JSONObject" parameterType="JSONObject">
		SELECT * FROM _results WHERE registrationId IN 
		(SELECT id FROM _registration WHERE userId = #{userId} AND status=1 AND examId IN 
			(SELECT id FROM _exam WHERE majorId IN (SELECT id FROM _major WHERE name = #{major}))
		)
	</select>
	
</mapper>